#hainzelman-widget {
    font-family: Roboto;
    z-index: 999;

    .hainzelman-widget-window {
        position: fixed;
        bottom: 45px;
        right: 135px;
        height: 100%;
        max-height: 65%;
        min-height: 200px;
        width: 100%;
        max-width: 25%;
        min-width: 290px;
        border-radius: 20px;
        padding: 20px;
        display: none;
        flex-direction: column;
        background-color: white;
        z-index: 999;
        transform: scale(0.95);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
            0px 1px 3px rgba(0, 0, 0, 0.06);
    }

    .hainzelman-widget-bubble {
        position: fixed;
        bottom: 60px;
        right: 60px;
        background-color: white;
        width: 48px;
        height: 48px;

        border-radius: 50%;
        z-index: 999;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15),
            0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .hainzelman-widget-navbar {
        border-bottom: 1px solid #787a7e;
        margin-bottom: 20px;

        .logo {
            max-width: 300px;
            margin-bottom: 10px;
        }
    }

    .hainzelman-widget-message {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .hainzelman-widget-bubble:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .hainzelman-widget-window {
        display: flex;
        flex-direction: column;
    }

    .hainzelman-widget-window-body {
        overflow: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 22px;
        line-height: 28px;
        gap: 30px;
        scrollbar-width: thin;
        scrollbar-color: #009c9d;
    }

    .hainzelman-widget-message-content {
        max-width: 90%;

        p {
            margin: unset;
            padding: unset;
        }
    }

    .hainzelman-widget-message-assistant {
        color: #009c9d;
    }

    .hainzelman-widget-message-assistant-err {
        color: #ff0000;
    }

    .hainzelman-widget-message-user {
        margin-left: 45px;
        color: #787a7e;
    }

    .hainzelman-widget-message-icon {
        svg {
            transform: unset !important;
        }
    }

    .hainzelman-widget-send-button {
        svg {
            transform: unset !important;
        }
    }

    .hainzelman-widget-bubble {
        svg {
            transform: unset !important;
        }
    }

    .hainzelman-widget-input-wrapper {
        display: flex;
        gap: 5px;
        border-top: 1px solid #787a7e;
        padding: 0px 10px;
        margin-top: 20px;
    }

    .hainzelman-widget-input {
        flex-grow: 1;
        border: none;
        margin-top: 10px;
        font-size: 22px;
        align-content: center;
        resize: none;
    }

    textarea,
    textarea::placeholder {
        font-family: "Roboto";
    }

    .hainzelman-widget-input:focus-visible {
        /* outline: #009c9d auto 1px; */
        outline: unset;
    }

    .hainzelman-widget-send-button {
        border: unset;
        padding: unset;
        margin: unset;
        background-color: unset;
        margin-top: 10px;

        svg {
            max-width: 60px;
        }
    }

    .hainzelman-widget-send-button:hover {
        scale: 1.05;
        cursor: pointer;
    }

    .hidden {
        display: none;
    }
}

/* LISCR demo */
.scrollup {
    display: none !important;
}